style css
#green_paragraph
       color:{green_paragraph
       font-size: 20px;
    }
    /* this is a comment in css */

    .red_paragraph{
        color: red;
        font-size: 50px;
    .container{
         width: 800px;
         height: 500px;
         border: 1px solid;\
         padding: 50px;
         margin: 30px
         */


    }    

    }
